<app-layout>
  <div class="flex pt-[35vh]">
    <div class="shadow-xl sm:w-[350px] w-[90%] bg-white rounded-xl mx-auto">
      <div class="p-5">
        <div class="">
          <div class="flex items-center">
            <fa-icon [icon]="faLink"></fa-icon>
            <span class="ml-3 text-md font-semibold">Your URL:</span>
          </div>

          <ng-container *ngIf="!invalidUrl; else invalidURL">
            <div class="my-2 flex flex-col">
              <input
                [(ngModel)]="longUrl"
                name="longUrl"
                class="border-2 rounded-xl p-2 flex-1 dark-text w-[100%]"
                [ngClass]="validationClass"
                type="text" />
            </div>
          </ng-container>

          <ng-template #invalidURL>
            <div class="my-2 flex flex-col relative">
              <input
                [(ngModel)]="longUrl"
                name="longUrl"
                (focus)="focus()"
                (focusout)="focusOut()"
                class="border-2 rounded-xl py-2 pl-2 pr-10 flex-1 dark-text w-[100%]"
                [ngClass]="validationClass"
                type="text" />
                <span class="absolute flex right-4 top-3">
                  <fa-icon [icon]="faCircle" class="text-[#e23d3d]"></fa-icon>
                </span>
              <span class="text-sm text-[#e23d3d] font-medium">{{errorTextMessage}}</span>
            </div>
          </ng-template>

        </div>

        <span class="flex mt-5 ">
          <button (click)="submitUrl()" class="bg-primary shadow-lg shadow-indigo-500/50 text-[#ffffff] flex-1 p-1 rounded text-2xl font-semibold">
            Shorten URL
          </button>
        </span>

      </div>
    </div>
  </div>
</app-layout>

<!-- Loading Spinner -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#ffffff"
  type="fire">
  <p style="font-size: 20px; color: #ffffff">Shortening URL...</p>
</ngx-spinner>
